{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Swiper Slider Container -->
<div class="position-relative overflow-hidden">
  <div class="swiper mySwiper mt-4 mb-2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div>
          <div class="card card-background shadow-none border-radius-xl card-background-after-none align-items-start mb-0">
            <div class="full-background bg-cover" style="background-image: url('https://demos.creative-tim.com/test/corporate-ui-dashboard/assets/img/img-2.jpg')"></div>
            <div class="card-body text-start px-3 py-0 w-100">
              <div class="row mt-12">
                <div class="col-sm-3 mt-auto">
                  <h4 class="text-dark font-weight-bolder no_toc">#1</h4>
                  <p class="text-dark opacity-6 text-xs font-weight-bolder mb-0">Name</p>
                  <h5 class="text-dark font-weight-bolder no_toc">Secured</h5>
                </div>
                <div class="col-sm-3 ms-auto mt-auto">
                  <p class="text-dark opacity-6 text-xs font-weight-bolder mb-0">Category</p>
                  <h5 class="text-dark font-weight-bolder no_toc">Banking</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more slides here -->
    </div>

    <!-- Navigation Buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<!-- Link Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% endblock %}
