{% extends 'base.html' %}
{% block content %}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="iq-card-body">
                <div class="iq-card">
     
                


    {% if jobs %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Job Listings</h4>
        </div>
        <div class="table-responsive">
            <table class="table align-middle table-striped">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Title</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Company Name</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Description</th>
                        <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Apply</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-sm me-3">
                                    {% if job.thumbnail %}
                                    <img src="{{ job.thumbnail }}" alt="{{ job.company_name }}" style="width: 100px;">
                                    {% else %}
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_0HvCCSj9gEOrWNZkwtHu4J1LffvlO667BER_RP7bqUaAI4qdWFxsmwVXkpugBCYhb6I&usqp=CAU" alt="Default Thumbnail" style="max-width: 100px;">
                                    {% endif %}
                                </div>
                                <div>
                                    <h6 class="mb-0 text-xs">{{ job.title }}</h6>
                                    <p class="text-xs text-secondary mb-0">{{ job.company_name }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs mb-0">{{ job.company_name }}</p>
                        </td>
                        <td>
                            <p class="text-xs text-secondary mb-0">{{ job.description|truncatechars:100 }}</p>
                        </td>
                        <td class="text-center">
                            {% if job.related_links %}
                                {% for link in job.related_links %}
                                    <a class="btn btn-primary btn-sm" href="{{ link.link }}" target="_blank">Apply</a>
                                {% endfor %}
                            {% else %}
                                <span class="text-secondary text-xs">No links available</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}

</div>
{% endblock %}
